<section class="Form my-4 mx-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="text-center mb-5">Search Parcel</h1>
        <form class="d-flex" role="search">
          <input class="form-control mb-3" type="search" placeholder="User ID" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <form class="d-flex" role="search">
          <input class="form-control mb-3 my-3" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">View Details</button>
        </form>
        <!-- <form class="d-flex" role="search">
          <input class="form-control mb-3 my-3" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">View Details</button>
        </form>
        <form class="d-flex" role="search">
          <input class="form-control mb-3 my-3" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">View Details</button>
        </form>-->
      </div>
    </div> 
  </div>
</section>
